# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

**/AGENTS.md
**/CLAUDE.md
.claude/*
.codex/*
.github/*
!.github/actions/
!.github/workflows/
!.github/PULL_REQUEST_TEMPLATE.md
